.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.about .top-section {
  padding: 100px 100px;
  background: url(/src/assets/multiplePizzas.jpeg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.bottom-section {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.bottom-section p {
  width: 1000px;
  margin-bottom: 60px;
}

.about .bottom-section h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
